/* Mobile responsiveness */
@media (max-width: 768px) {
    .tagline {
        font-size: 2.6rem;
    }
    
    .subtitle {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media (max-width: 500px) {
    .btn-container {
        flex-direction: column;
        width: 100%;
        max-width: 350px;
    }
    
    .btn {
        width: 100%;
        justify-content: center;
    }
}